.taskCard {
  margin: 16px;
  border-radius: 16px;
  background-color: inherit;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  cursor: pointer;
}

.taskCard:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.title {
  font-weight: 500;
  color: inherit;
}

.description {
  color: inherit;
  margin-bottom: 20px;
}

.createdAt {
  display: block;
  margin-bottom: 12px;
}

.chipsContainer {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  /* margin-bottom: 16px; */
}

.tittleContainer {
  display: flex;
  /* justify-content: flex-start; */
  justify-content: space-between;
}



@media (max-width: 600px) {
  .taskCard {
    margin: 8px 0;
    width: 100%;
  }
}