.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.buttonsContainer {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}